run = "bun x replkit dev"
entrypoint = "src/App.jsx"

hidden = [".config", ".git", ".gitignore"]

# modules = ["nodejs-18:v3-20230608-f4cd419"]

[nix]
channel = "stable-23_11"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin:/home/runner/RemarkablePartialChemistry/.cache/.bun/bin"
XDG_CONFIG_HOME = "/home/runner/.config"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[packager]
language = "bun"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[languages.css]
pattern = "**/{*.css,*.scss}"

[languages.css.languageServer]
start = "vscode-css-language-server --stdio"

[languages.html]
pattern = "**/{*.html}"

[languages.html.languageServer]
start = "vscode-html-language-server --stdio"

[languages.eslint]
pattern = "**/{.eslintrc.{js,cjs,mjs}"

[languages.eslint.languageServer]
start = "vscode-eslint-language-server --stdio"

[extension]
isExtension = true
buildCommand = "bun x replkit build"
outputDirectory = "./dist"
staticDirectory = "./public"
